In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df_complete=pd.read_csv('train.csv')

In [3]:
df_complete['OC'].value_counts()

open      286
 close     15
Name: OC, dtype: int64

In [4]:
df_complete['ownerChange']=df_complete['ownerChange'].fillna('?')
df_complete['instkind']=df_complete['instkind'].fillna('?')

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_complete['sido_f'] = le.fit_transform(df_complete['sido'])
df_complete['OC_f'] = le.fit_transform(df_complete['OC'])
df_complete['ownerChange_f'] = le.fit_transform(df_complete['ownerChange'])
df_complete['instkind_f'] = le.fit_transform(df_complete['instkind'])

In [6]:
df_complete[df_complete['surplus2']==0]['OC'].value_counts()

open      191
 close     15
Name: OC, dtype: int64

In [7]:
df_complete[df_complete['surplus1']==0]['OC'].value_counts()

open      187
 close     13
Name: OC, dtype: int64

In [8]:
df_complete_emp=df_complete.drop(df_complete[df_complete['revenue1'].isna()==True].index)

In [9]:
df_complete_emp['employee1']=df_complete_emp['employee1'].fillna(np.mean(df_complete_emp['employee1']))

In [10]:
df_complete_emp=df_complete_emp.drop('bedCount',axis=1)
#df_complete_emp['bedCount']=df_complete_emp['bedCount'].fillna(np.mean(df_complete_emp['bedCount'] ),inplace=False )

In [11]:
df_complete_emp2=df_complete_emp[df_complete_emp['employee2'].isna()==False]
df_complete_emp2_test=df_complete_emp[df_complete_emp['employee2'].isna()]

In [12]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

In [13]:
df_complete_emp2.head()

,inst_id,OC,sido,sgg,openDate,instkind,revenue1,salescost1,sga1,salary1,...,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,sido_f,OC_f,ownerChange_f,instkind_f
0,1,open,choongnam,73,20071228,nursing_hospital,4.217530e+09,0.000000e+00,3.961135e+09,2.033835e+09,...,3.900000e+08,2.619290e+09,1.271224e+09,62.0,64.0,same,2,1,2,5
2,4,open,gyeonggi,89,20161228,nursing_hospital,1.004522e+09,5.154837e+08,4.472197e+08,2.964023e+08,...,0.000000e+00,0.000000e+00,0.000000e+00,234.0,1.0,same,8,1,2,5
3,7,open,incheon,141,20000814,general_hospital,7.250734e+10,0.000000e+00,7.067740e+10,3.178605e+10,...,1.510000e+10,1.295427e+10,7.740829e+09,663.0,663.0,same,10,1,2,3
4,9,open,gyeongnam,32,20050901,general_hospital,4.904354e+10,0.000000e+00,4.765605e+10,2.446078e+10,...,1.410803e+10,5.561941e+06,9.025550e+09,206.0,197.0,same,9,1,2,3
5,11,open,gyeongnam,155,20020501,general_hospital,3.358054e+10,9.222997e+09,2.372791e+10,1.665533e+10,...,0.000000e+00,0.000000e+00,5.879004e+09,397.0,390.0,same,9,1,2,3

In [14]:
x = df_complete_emp2.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee2'],axis=1)
y = df_complete_emp2[['employee2']]

In [15]:
dt_model_emp2=linreg.fit(x, y)

In [16]:
x_test = df_complete_emp2_test.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee2'],axis=1)

In [17]:
a=np.round(dt_model_emp2.predict(x_test))

In [18]:
a[10]=130.

In [19]:
df_complete_emp2_test['employee2']=a

C:\Users\DINESHKUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
print(df_complete_emp2.shape)

df_complete_emp2_test.shape

(282, 61)

(11, 61)

In [21]:
df_complete_emp=pd.concat([df_complete_emp2,df_complete_emp2_test])

In [22]:
df_complete_emp['employee1']=df_complete['employee1']

In [23]:
df_complete_emp1=df_complete_emp[df_complete_emp['employee1'].isna()==False]
df_complete_emp1_test=df_complete_emp[df_complete_emp['employee1'].isna()]

In [24]:
x = df_complete_emp1.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee1'],axis=1)
y = df_complete_emp1[['employee1']]

In [25]:
dt_model_emp1=linreg.fit(x, y)

In [26]:
x_test = df_complete_emp1_test.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee1'],axis=1)

In [27]:
b=np.round(dt_model_emp1.predict(x_test))

In [28]:
df_complete_emp1_test['employee1']=b

C:\Users\DINESHKUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
df_complete_emp=pd.concat([df_complete_emp1,df_complete_emp1_test])

In [30]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
x_features = list(df_complete_emp)
x_features
x_features.remove('inst_id')
x_features.remove('OC')
x_features.remove('sido')
x_features.remove('ownerChange')
x_features.remove('instkind')
x_features.remove('OC_f')
x_features.remove('openDate')

In [167]:
x=df_complete_emp.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','ownerChange_f'],axis=1)
y=df_complete_emp[['OC_f']]

In [168]:
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB 
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error,confusion_matrix, classification_report
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [169]:
from sklearn.ensemble import BaggingClassifier
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1234)

In [170]:
clf1 = KNeighborsClassifier(n_neighbors=5)
clf2 = LogisticRegression()
clf3 = GaussianNB()
clf4 = DecisionTreeClassifier()
clf5 = RandomForestClassifier(n_estimators=60)
clf6 = BaggingClassifier()
clf7 = AdaBoostClassifier()
for clf, label in zip([clf1, clf2, clf3, clf4, clf5,clf6,clf7], ['KNN', 'Logistic Regression', 'Naive Bayes', 'DT', 'RF','Bagging','Adaboost']):
    scores = model_selection.cross_val_score(clf, x_train, y_train, cv=10, scoring='accuracy')
    print("Accuracy: %0.2f (+/- %0.2f) [%s]"  % (scores.mean(), scores.std(), label))

Accuracy: 0.95 (+/- 0.00) [KNN]
Accuracy: 0.83 (+/- 0.10) [Logistic Regression]
Accuracy: 0.55 (+/- 0.13) [Naive Bayes]
Accuracy: 0.89 (+/- 0.06) [DT]
Accuracy: 0.94 (+/- 0.02) [RF]
Accuracy: 0.93 (+/- 0.02) [Bagging]
Accuracy: 0.93 (+/- 0.02) [Adaboost]

In [171]:
clf1 = KNeighborsClassifier(n_neighbors=5)
clf2 = LogisticRegression()
clf3 = GaussianNB()
clf4 = DecisionTreeClassifier()
clf5 = RandomForestClassifier(n_estimators=60,max_features=20)
clf6 = BaggingClassifier()
clf7 = AdaBoostClassifier()
for clf, label in zip([clf1, clf2, clf3, clf4, clf5,clf6,clf7], ['KNN', 'Logistic Regression', 'Naive Bayes', 'DT', 'RF','Bagging','Adaboost']):
    scores = model_selection.cross_val_score(clf, x_train, y_train, cv=10, scoring='accuracy')
    print("Accuracy: %0.2f (+/- %0.2f) [%s]"  % (scores.mean(), scores.std(), label))

Accuracy: 0.95 (+/- 0.00) [KNN]
Accuracy: 0.83 (+/- 0.10) [Logistic Regression]
Accuracy: 0.55 (+/- 0.13) [Naive Bayes]
Accuracy: 0.89 (+/- 0.06) [DT]
Accuracy: 0.94 (+/- 0.02) [RF]
Accuracy: 0.94 (+/- 0.02) [Bagging]
Accuracy: 0.93 (+/- 0.02) [Adaboost]

In [172]:
clf5.fit(x,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=20, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=60, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [173]:
def get_predictions( inst_id, model ):
    y_pred_df = pd.DataFrame( { 'inst_id': inst_id,
                               "OC": clf5.predict(x) } )
    return y_pred_df

In [174]:
df_test=pd.read_csv('test.csv')

In [175]:
df_complete=df_test.drop('bedCount',axis=1)

In [176]:
df_complete['ownerChange']=df_complete['ownerChange'].fillna('?')
df_complete['instkind']=df_complete['instkind'].fillna('?')
df_complete['sido_f'] = le.fit_transform(df_complete['sido'])
df_complete['OC_f'] = le.fit_transform(df_complete['OC'])
df_complete['ownerChange_f'] = le.fit_transform(df_complete['ownerChange'])
df_complete['instkind_f'] = le.fit_transform(df_complete['instkind'])
df_complete=df_complete.drop(df_complete[df_complete['revenue1'].isna()==True].index)

In [177]:
df_complete['employee1']=df_complete['employee1'].fillna(np.mean(df_complete['employee1'])) 
df_complete['employee2']=df_complete['employee2'].fillna(np.mean(df_complete['employee2']))

In [178]:
x=df_complete.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','ownerChange_f'],axis=1)
y=df_complete[['OC_f']]

In [179]:
x.shape

(125, 53)

In [180]:
y_pred_df = get_predictions( df_complete['inst_id'], clf5)

In [181]:
y_pred_df.head()

   inst_id  OC
0        2   1
1        5   1
2        6   1
3        8   1
4       10   1

In [182]:
y_pred_df.to_csv('pred.csv')

In [183]:
y_pred_df['OC'].value_counts()

1    122
0      3
Name: OC, dtype: int64

In [184]:
y_pred_df[y_pred_df['OC']==0]

     inst_id  OC
52       165   0
120      413   0
122      424   0

In [53]:
y_pred_df.shape

(125, 2)

In [ ]:
6
64
310
413
424
430