In [4]:
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
df_complete=pd.read_csv('train.csv')

In [6]:
df_complete.head()

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,1,open,choongnam,73,20071228,175.0,nursing_hospital,4.217530e+09,0.0,3.961135e+09,...,7.589937e+08,2.228769e+08,0.000000e+00,5.361169e+08,3.900000e+08,2.619290e+09,1.271224e+09,62.0,64.0,same
1,3,open,gyeongnam,32,19970401,410.0,general_hospital,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,801.0,813.0,same
2,4,open,gyeonggi,89,20161228,468.0,nursing_hospital,1.004522e+09,515483669.0,4.472197e+08,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,234.0,1.0,same
3,7,open,incheon,141,20000814,353.0,general_hospital,7.250734e+10,0.0,7.067740e+10,...,3.775501e+10,1.701860e+10,9.219427e+09,2.073641e+10,1.510000e+10,1.295427e+10,7.740829e+09,663.0,663.0,same
4,9,open,gyeongnam,32,20050901,196.0,general_hospital,4.904354e+10,0.0,4.765605e+10,...,5.143259e+10,3.007259e+10,1.759375e+10,2.136001e+10,1.410803e+10,5.561941e+06,9.025550e+09,206.0,197.0,same

In [7]:
df_complete['ownerChange']=df_complete['ownerChange'].fillna('?')
df_complete['instkind']=df_complete['instkind'].fillna('?')

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_complete['sido_f'] = le.fit_transform(df_complete['sido'])
df_complete['OC_f'] = le.fit_transform(df_complete['OC'])
df_complete['ownerChange_f'] = le.fit_transform(df_complete['ownerChange'])
df_complete['instkind_f'] = le.fit_transform(df_complete['instkind'])

In [9]:
df_complete_emp=df_complete.drop(df_complete[df_complete['revenue1'].isna()==True].index)

In [10]:
df_complete_emp['employee1']=df_complete_emp['employee1'].fillna(np.mean(df_complete_emp['employee1']))

In [11]:
df_complete_emp=df_complete_emp.drop('bedCount',axis=1)
#df_complete_emp['bedCount']=df_complete_emp['bedCount'].fillna(np.mean(df_complete_emp['bedCount'] ),inplace=False )

In [12]:
df_complete_emp2=df_complete_emp[df_complete_emp['employee2'].isna()==False]
df_complete_emp2_test=df_complete_emp[df_complete_emp['employee2'].isna()]

In [13]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

In [14]:
df_complete_emp2.head()

,inst_id,OC,sido,sgg,openDate,instkind,revenue1,salescost1,sga1,salary1,...,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,sido_f,OC_f,ownerChange_f,instkind_f
0,1,open,choongnam,73,20071228,nursing_hospital,4.217530e+09,0.000000e+00,3.961135e+09,2.033835e+09,...,3.900000e+08,2.619290e+09,1.271224e+09,62.0,64.0,same,2,1,2,5
2,4,open,gyeonggi,89,20161228,nursing_hospital,1.004522e+09,5.154837e+08,4.472197e+08,2.964023e+08,...,0.000000e+00,0.000000e+00,0.000000e+00,234.0,1.0,same,8,1,2,5
3,7,open,incheon,141,20000814,general_hospital,7.250734e+10,0.000000e+00,7.067740e+10,3.178605e+10,...,1.510000e+10,1.295427e+10,7.740829e+09,663.0,663.0,same,10,1,2,3
4,9,open,gyeongnam,32,20050901,general_hospital,4.904354e+10,0.000000e+00,4.765605e+10,2.446078e+10,...,1.410803e+10,5.561941e+06,9.025550e+09,206.0,197.0,same,9,1,2,3
5,11,open,gyeongnam,155,20020501,general_hospital,3.358054e+10,9.222997e+09,2.372791e+10,1.665533e+10,...,0.000000e+00,0.000000e+00,5.879004e+09,397.0,390.0,same,9,1,2,3

In [15]:
x = df_complete_emp2.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee2'],axis=1)
y = df_complete_emp2[['employee2']]

In [16]:
dt_model_emp2=linreg.fit(x, y)

In [17]:
x_test = df_complete_emp2_test.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee2'],axis=1)

In [18]:
a=np.round(dt_model_emp2.predict(x_test))

In [19]:
a[10]=130.

In [20]:
df_complete_emp2_test['employee2']=a

C:\Users\mani\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [21]:
print(df_complete_emp2.shape)

df_complete_emp2_test.shape

(282, 61)

(11, 61)

In [22]:
df_complete_emp=pd.concat([df_complete_emp2,df_complete_emp2_test])

In [23]:
df_complete_emp['employee1']=df_complete['employee1']

In [24]:
df_complete_emp1=df_complete_emp[df_complete_emp['employee1'].isna()==False]
df_complete_emp1_test=df_complete_emp[df_complete_emp['employee1'].isna()]

In [25]:
x = df_complete_emp1.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee1'],axis=1)
y = df_complete_emp1[['employee1']]

In [26]:
dt_model_emp1=linreg.fit(x, y)

In [27]:
x_test = df_complete_emp1_test.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee1'],axis=1)

In [28]:
b=np.round(dt_model_emp1.predict(x_test))

In [29]:
df_complete_emp1_test['employee1']=b

C:\Users\mani\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [60]:
df_complete_emp=pd.concat([df_complete_emp1,df_complete_emp1_test])

In [61]:
df_complete_emp.head()

,inst_id,OC,sido,sgg,openDate,instkind,revenue1,salescost1,sga1,salary1,...,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,sido_f,OC_f,ownerChange_f,instkind_f
0,1,open,choongnam,73,20071228,nursing_hospital,4.217530e+09,0.000000e+00,3.961135e+09,2.033835e+09,...,3.900000e+08,2.619290e+09,1.271224e+09,62.0,64.0,same,2,1,2,5
2,4,open,gyeonggi,89,20161228,nursing_hospital,1.004522e+09,5.154837e+08,4.472197e+08,2.964023e+08,...,0.000000e+00,0.000000e+00,0.000000e+00,234.0,1.0,same,8,1,2,5
3,7,open,incheon,141,20000814,general_hospital,7.250734e+10,0.000000e+00,7.067740e+10,3.178605e+10,...,1.510000e+10,1.295427e+10,7.740829e+09,663.0,663.0,same,10,1,2,3
4,9,open,gyeongnam,32,20050901,general_hospital,4.904354e+10,0.000000e+00,4.765605e+10,2.446078e+10,...,1.410803e+10,5.561941e+06,9.025550e+09,206.0,197.0,same,9,1,2,3
5,11,open,gyeongnam,155,20020501,general_hospital,3.358054e+10,9.222997e+09,2.372791e+10,1.665533e+10,...,0.000000e+00,0.000000e+00,5.879004e+09,397.0,390.0,same,9,1,2,3

In [62]:
df_complete_emp.shape

(293, 61)

In [64]:
df_complete_PCA=df_complete_emp.drop(['inst_id','openDate','OC','sido','instkind','ownerChange','OC_f'],axis=1)
y=df_complete_emp['OC_f']
df_complete_PCA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 293 entries, 0 to 298
Data columns (total 54 columns):
sgg                   293 non-null int64
revenue1              293 non-null float64
salescost1            293 non-null float64
sga1                  293 non-null float64
salary1               293 non-null float64
noi1                  293 non-null float64
noe1                  293 non-null float64
interest1             293 non-null float64
ctax1                 293 non-null float64
profit1               293 non-null float64
liquidAsset1          293 non-null float64
quickAsset1           293 non-null float64
receivableS1          293 non-null float64
inventoryAsset1       293 non-null float64
nonCAsset1            293 non-null float64
tanAsset1             293 non-null float64
OnonCAsset1           293 non-null float64
receivableL1          293 non-null float64
debt1                 293 non-null float64
liquidLiabilities1    293 non-null float64
shortLoan1            293 non-null float64
NCLiabilities1        293 non-null float64
longLoan1             293 non-null float64
netAsset1             293 non-null float64
surplus1              293 non-null float64
revenue2              293 non-null float64
salescost2            293 non-null float64
sga2                  293 non-null float64
salary2               293 non-null float64
noi2                  293 non-null float64
noe2                  293 non-null float64
interest2             293 non-null float64
ctax2                 293 non-null float64
profit2               293 non-null float64
liquidAsset2          293 non-null float64
quickAsset2           293 non-null float64
receivableS2          293 non-null float64
inventoryAsset2       293 non-null float64
nonCAsset2            293 non-null float64
tanAsset2             293 non-null float64
OnonCAsset2           293 non-null float64
receivableL2          293 non-null float64
debt2                 293 non-null float64
liquidLiabilities2    293 non-null float64
shortLoan2            293 non-null float64
NCLiabilities2        293 non-null float64
longLoan2             293 non-null float64
netAsset2             293 non-null float64
surplus2              293 non-null float64
employee1             293 non-null float64
employee2             293 non-null float64
sido_f                293 non-null int64
ownerChange_f         293 non-null int64
instkind_f            293 non-null int64
dtypes: float64(50), int64(4)
memory usage: 125.9 KB

In [50]:
from sklearn.preprocessing import StandardScaler


from sklearn.decomposition import PCA
from scipy.stats import zscore

sc = StandardScaler()
X_std =  sc.fit_transform(df_complete_PCA)          
cov_matrix = np.cov(X_std.T)
print('Covariance Matrix \n%s', cov_matrix)

Covariance Matrix
%s [[ 1.00342466  0.06115181  0.04160179 ...  0.0673471  -0.04174908
   0.01071732]
 [ 0.06115181  1.00342466  0.76644427 ...  0.16931538  0.04353507
  -0.33419049]
 [ 0.04160179  0.76644427  1.00342466 ...  0.0718682   0.01959597
  -0.29772276]
 ...
 [ 0.0673471   0.16931538  0.0718682  ...  1.00342466 -0.0603613
  -0.14751146]
 [-0.04174908  0.04353507  0.01959597 ... -0.0603613   1.00342466
  -0.02644439]
 [ 0.01071732 -0.33419049 -0.29772276 ... -0.14751146 -0.02644439
   1.00342466]]

In [65]:
eig_vals, eig_vecs = np.linalg.eig(cov_matrix)
print('Eigen Vectors \n%s', eig_vecs)
print('\n Eigen Values \n%s', eig_vals)

Eigen Vectors
%s [[ 1.34507092e-02 -2.36210939e-02 -2.28534512e-02 ... -1.93072149e-05
   3.43963683e-06 -1.80722688e-15]
 [ 1.84729906e-01  4.48182176e-02 -1.44869824e-01 ...  6.71441781e-01
   3.97700566e-02  4.60239496e-12]
 [ 1.15865473e-01  1.01856202e-01 -3.08048413e-01 ... -2.45818587e-01
  -1.44240609e-02 -1.83609262e-12]
 ...
 [ 4.11140059e-02 -2.53359959e-03  1.20617897e-02 ...  6.86414676e-06
   2.64309211e-06  2.75304183e-14]
 [-1.81988115e-03 -5.57281199e-04 -9.33714327e-02 ...  4.01772677e-05
   3.05057787e-05 -4.40629202e-15]
 [-6.02072347e-02 -3.74269565e-03  1.47454779e-01 ... -3.71793979e-05
  -1.76740992e-05  1.36166511e-14]]

 Eigen Values
%s [ 2.57116211e+01  5.41046388e+00  3.06514351e+00  2.66262346e+00
  2.19685197e+00  2.25771682e+00  1.54102507e+00  1.22700973e+00
  1.12662105e+00  1.01946196e+00  1.00661700e+00  8.72732329e-01
  8.52531190e-01  7.47220715e-01  6.53971781e-01  5.63115533e-01
  4.31661075e-01  3.94812946e-01  3.58833341e-01  2.96053591e-01
  2.82240106e-01  2.35919088e-01  2.24186069e-01  1.77091167e-01
  1.42445686e-01  1.27618949e-01  1.11163602e-01  8.13957848e-02
  7.26267252e-02  5.76168245e-02  5.25360792e-02  4.63551324e-02
  3.22550312e-02  2.89546093e-02  2.45670610e-02  2.20278689e-02
  1.58399720e-02  1.49049490e-02  1.39832711e-02  8.85752041e-03
  5.83886866e-03  4.12808848e-03  3.66110536e-03  1.74322865e-03
  4.56361825e-04  2.11334499e-04  1.17463635e-04  7.71411762e-05
  2.03379149e-05  3.31972122e-06  3.35645445e-07  2.13596425e-07
  1.03400249e-07 -3.44375816e-16]

In [66]:
eig_vals[eig_vals>1]

array([25.71162115,  5.41046388,  3.06514351,  2.66262346,  2.19685197,
        2.25771682,  1.54102507,  1.22700973,  1.12662105,  1.01946196,
        1.006617  ])

In [67]:
tot = sum(eig_vals)
var_exp = [( i /tot ) * 100 for i in sorted(eig_vals, reverse=True)]
cum_var_exp = np.cumsum(var_exp)
print("Cumulative Variance Explained", cum_var_exp)

Cumulative Variance Explained [ 47.45160773  57.43678947  63.09360848  68.00756406  72.17425166
  76.22861127  79.07262163  81.33710678  83.41632147  85.29777066
  87.15551408  88.76616911  90.33954231  91.71856171  92.92548726
  93.96473473  94.76137886  95.49001861  96.15225685  96.69863309
  97.21951611  97.65491223  98.06865469  98.39548202  98.65837003
  98.89389482  99.09905075  99.24926924  99.38330415  99.48963782
  99.58659481  99.67214467  99.73167235  99.78510899  99.83044828
  99.87110141  99.90033457  99.92784213  99.95364869  99.96999553
  99.98077134  99.98838986  99.99514655  99.99836373  99.99920596
  99.99959599  99.99981277  99.99995513  99.99999267  99.9999988
  99.99999941  99.99999981 100.         100.        ]

In [68]:
X_train_std = sc.fit_transform(df_complete_PCA)
nc_reduced = PCA(n_components=11).fit_transform(X_train_std)

In [69]:
nc_reduced_train=pd.DataFrame(nc_reduced)

In [31]:
df_complete_oc_org=df_complete_emp[df_complete_emp['ownerChange']!='?']
df_complete_oc=df_complete_emp[df_complete_emp['ownerChange']=='?']
df_complete_oc_org['oc_pf']=le.fit_transform(df_complete_oc_org['ownerChange'])

C:\Users\mani\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [32]:
import statsmodels.api as sm

In [69]:
x = df_complete_oc_org.drop(['openDate','sgg','inst_id','OC','sido','ownerChange','instkind','ownerChange_f','sido_f','instkind_f','oc_pf'],axis=1)
y = df_complete_oc_org[['oc_pf']]

In [68]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283 entries, 0 to 230
Data columns (total 52 columns):
sgg                   283 non-null int64
revenue1              283 non-null float64
salescost1            283 non-null float64
sga1                  283 non-null float64
salary1               283 non-null float64
noi1                  283 non-null float64
noe1                  283 non-null float64
interest1             283 non-null float64
ctax1                 283 non-null float64
profit1               283 non-null float64
liquidAsset1          283 non-null float64
quickAsset1           283 non-null float64
receivableS1          283 non-null float64
inventoryAsset1       283 non-null float64
nonCAsset1            283 non-null float64
tanAsset1             283 non-null float64
OnonCAsset1           283 non-null float64
receivableL1          283 non-null float64
debt1                 283 non-null float64
liquidLiabilities1    283 non-null float64
shortLoan1            283 non-null float64
NCLiabilities1        283 non-null float64
longLoan1             283 non-null float64
netAsset1             283 non-null float64
surplus1              283 non-null float64
revenue2              283 non-null float64
salescost2            283 non-null float64
sga2                  283 non-null float64
salary2               283 non-null float64
noi2                  283 non-null float64
noe2                  283 non-null float64
interest2             283 non-null float64
ctax2                 283 non-null float64
profit2               283 non-null float64
liquidAsset2          283 non-null float64
quickAsset2           283 non-null float64
receivableS2          283 non-null float64
inventoryAsset2       283 non-null float64
nonCAsset2            283 non-null float64
tanAsset2             283 non-null float64
OnonCAsset2           283 non-null float64
receivableL2          283 non-null float64
debt2                 283 non-null float64
liquidLiabilities2    283 non-null float64
shortLoan2            283 non-null float64
NCLiabilities2        283 non-null float64
longLoan2             283 non-null float64
netAsset2             283 non-null float64
surplus2              283 non-null float64
employee1             283 non-null float64
employee2             283 non-null float64
OC_f                  283 non-null int64
dtypes: float64(50), int64(2)
memory usage: 117.2 KB

In [57]:
df_complete_oc_org['oc_pf'].value_counts()

1    241
0     42
Name: oc_pf, dtype: int64

In [78]:
from sklearn.linear_model import LogisticRegression
dt_model = LogisticRegression()
dt_model_oc =dt_model.fit(x,y)

C:\Users\mani\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [76]:
x_test = df_complete_oc.drop(['openDate','sgg','inst_id','OC','sido','ownerChange','instkind','ownerChange_f','sido_f','instkind_f'],axis=1)

In [79]:
df_complete_oc['oc_pf']=dt_model_oc.predict(x_test)

C:\Users\mani\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [80]:
df_complete_fin = pd.concat([df_complete_oc,df_complete_oc_org])

In [81]:
x=df_complete_fin.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','ownerChange_f'],axis=1)
y=df_complete_fin[['OC_f']]

In [70]:
from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier(criterion = 'gini',max_depth=3)
dt_model.fit(nc_reduced_train,y)
dt_model.score(nc_reduced_train,y)

0.962457337883959

In [31]:
dt=DecisionTreeClassifier()

from sklearn.grid_search import GridSearchCV

param_grid = {'max_depth' : np.arange(3,10)}
tree = GridSearchCV(DecisionTreeClassifier() , param_grid,cv=10)

C:\Users\mani\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\mani\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [32]:
x.shape

(293, 54)

In [33]:
c , r = y.shape

In [34]:
y = y.values.reshape(c,)

In [35]:
y.shape

(293,)

In [36]:
tree.fit(x , y)

GridSearchCV(cv=10, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'max_depth': array([3, 4, 5, 6, 7, 8, 9])},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [37]:
tree.best_score_

0.9180887372013652

In [38]:
tree.best_estimator_

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [39]:
from sklearn.ensemble import RandomForestClassifier
dt_model = RandomForestClassifier(n_estimators = 4)
dt_model.fit(x, y)
dt_model.score(x, y)

0.9829351535836177

In [71]:
def get_predictions( inst_id, model ):
    y_pred_df = pd.DataFrame( { 'inst_id': inst_id,
                               "OC": dt_model.predict(x) } )
    return y_pred_df

In [72]:
df_test=pd.read_csv('test.csv')

In [73]:
df_complete=df_test.drop('bedCount',axis=1)

In [74]:
df_complete['ownerChange']=df_complete['ownerChange'].fillna('?')
df_complete['instkind']=df_complete['instkind'].fillna('?')
df_complete['sido_f'] = le.fit_transform(df_complete['sido'])
df_complete['OC_f'] = le.fit_transform(df_complete['OC'])
df_complete['ownerChange_f'] = le.fit_transform(df_complete['ownerChange'])
df_complete['instkind_f'] = le.fit_transform(df_complete['instkind'])
df_complete=df_complete.drop(df_complete[df_complete['revenue1'].isna()==True].index)

In [75]:
test_emp2 =df_complete['employee2']
test_emp_1=df_complete[df_complete['employee1'].isna()]
test_emp_1_org=df_complete[df_complete['employee1'].isna()==False]

In [76]:
test_emp_1['employee2']=test_emp_1['employee2'].fillna(np.mean(df_complete_emp['employee2']))
x = test_emp_1.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee1'],axis=1)
y = test_emp_1[['employee1']]

C:\Users\mani\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [77]:
test_emp_1['employee1']=np.round(dt_model_emp1.predict(x))

C:\Users\mani\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [78]:
test_emp_1=pd.concat([test_emp_1,test_emp_1_org])

In [79]:
test_emp_1['employee2']=test_emp2

In [80]:
test_emp_2=test_emp_1[test_emp_1['employee2'].isna()]
test_emp_2_org=test_emp_1[test_emp_1['employee2'].isna()==False]

In [81]:
test_emp_2_org.shape

(110, 61)

In [82]:
x = test_emp_2.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee2'],axis=1)

In [83]:
test_emp_2['employee2']=np.round(dt_model_emp1.predict(x))

C:\Users\mani\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [88]:
test_emp_2 = pd.concat([test_emp_2,test_emp_2_org])

In [89]:
test_emp_2.shape

(125, 61)

In [90]:
df_complete_PCA=test_emp_2.drop(['inst_id','openDate','OC','sido','instkind','ownerChange','OC_f'],axis=1)
X_train_std = sc.fit_transform(df_complete_PCA)
nc_reduced = PCA(n_components=11).fit_transform(X_train_std)

In [91]:
nc_reduced_train=pd.DataFrame(nc_reduced)

In [103]:
test_oc=test_emp_2[test_emp_2['ownerChange']=='?']
test_oc_org = test_emp_2[test_emp_2['ownerChange']!='?']
test_oc_org['oc_pf']=le.fit_transform(test_oc_org['ownerChange'])

C:\Users\mani\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [104]:
x_test = test_oc.drop(['openDate','sgg','inst_id','OC','sido','ownerChange','instkind','ownerChange_f','sido_f','instkind_f'],axis=1)

In [107]:
test_oc['oc_pf']=dt_model_oc.predict(x_test)

C:\Users\mani\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [108]:
test_oc=pd.concat([test_oc,test_oc_org])

In [109]:
x=test_oc.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','ownerChange_f'],axis=1)
y=test_oc[['OC_f']]

In [92]:
x=nc_reduced_train

In [93]:
x.shape

(125, 11)

In [94]:
y_pred_df = get_predictions( df_complete['inst_id'], dt_model)

In [95]:
y_pred_df.head()

   inst_id  OC
0        2   1
1        5   1
2        6   1
3        8   1
4       10   1

In [97]:
y_pred_df.to_csv('pred.csv')

In [96]:
y_pred_df['OC'].value_counts()

1    112
0     13
Name: OC, dtype: int64

In [115]:
y_pred_df[y_pred_df['OC']==0]

     inst_id  OC
16        40   0
123      425   0
126      431   0

In [53]:
y_pred_df.shape

(125, 2)

In [ ]:
6
64
310
413
424
430