In [6]:
import numpy as np
import pandas as pd
import seaborn as sns

In [7]:
df_complete=pd.read_csv('train.csv')

In [8]:
df_complete.head()

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
0,1,open,choongnam,73,20071228,175.0,nursing_hospital,4.217530e+09,0.0,3.961135e+09,...,7.589937e+08,2.228769e+08,0.000000e+00,5.361169e+08,3.900000e+08,2.619290e+09,1.271224e+09,62.0,64.0,same
1,3,open,gyeongnam,32,19970401,410.0,general_hospital,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,801.0,813.0,same
2,4,open,gyeonggi,89,20161228,468.0,nursing_hospital,1.004522e+09,515483669.0,4.472197e+08,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,234.0,1.0,same
3,7,open,incheon,141,20000814,353.0,general_hospital,7.250734e+10,0.0,7.067740e+10,...,3.775501e+10,1.701860e+10,9.219427e+09,2.073641e+10,1.510000e+10,1.295427e+10,7.740829e+09,663.0,663.0,same
4,9,open,gyeongnam,32,20050901,196.0,general_hospital,4.904354e+10,0.0,4.765605e+10,...,5.143259e+10,3.007259e+10,1.759375e+10,2.136001e+10,1.410803e+10,5.561941e+06,9.025550e+09,206.0,197.0,same

In [9]:
df_complete['ownerChange']=df_complete['ownerChange'].fillna('?')
df_complete['instkind']=df_complete['instkind'].fillna('?')

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_complete['sido_f'] = le.fit_transform(df_complete['sido'])
df_complete['OC_f'] = le.fit_transform(df_complete['OC'])
df_complete['ownerChange_f'] = le.fit_transform(df_complete['ownerChange'])
df_complete['instkind_f'] = le.fit_transform(df_complete['instkind'])

In [11]:
x=df_complete[['ownerChange_f','sido_f','instkind_f']]
y=df_complete[['OC_f']]

In [12]:
from sklearn.naive_bayes import MultinomialNB

In [13]:
model = MultinomialNB()
model.fit(x, y)

C:\Users\mani\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [14]:
def get_predictions( inst_id, model ):
    y_pred_df = pd.DataFrame( { 'inst_id': inst_id,
                               "OC": model.predict(x) } )
    return y_pred_df

In [24]:
df_test=pd.read_csv('test.csv')

In [25]:
df_complete=df_test.drop('bedCount',axis=1)

In [26]:
df_complete['ownerChange']=df_complete['ownerChange'].fillna('?')
df_complete['instkind']=df_complete['instkind'].fillna('?')
df_complete['sido_f'] = le.fit_transform(df_complete['sido'])
df_complete['OC_f'] = le.fit_transform(df_complete['OC'])
df_complete['ownerChange_f'] = le.fit_transform(df_complete['ownerChange'])
df_complete['instkind_f'] = le.fit_transform(df_complete['instkind'])
df_complete=df_complete.drop(df_complete[df_complete['revenue1'].isna()==True].index)

In [22]:
test_emp2 =df_complete['employee2']
test_emp_1=df_complete[df_complete['employee1'].isna()]
test_emp_1_org=df_complete[df_complete['employee1'].isna()==False]

In [27]:
y_pred_df = get_predictions( df_complete['inst_id'], model)

ValueError: array length 301 does not match index length 125

In [112]:
y_pred_df.head()

   inst_id  OC
0        2   1
1        5   1
2        6   1
3        8   1
4       10   1

In [116]:
y_pred_df.to_csv('pred.csv')

In [113]:
y_pred_df['OC'].value_counts()

1    122
0      3
Name: OC, dtype: int64

In [115]:
y_pred_df[y_pred_df['OC']==0]

     inst_id  OC
16        40   0
123      425   0
126      431   0

In [53]:
y_pred_df.shape

(125, 2)

In [ ]:
6
64
310
413
424
430