In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df_complete=pd.read_csv('train.csv')

In [3]:
df_complete['OC'].value_counts()

open      286
 close     15
Name: OC, dtype: int64

In [4]:
df_complete[df_complete['OC']==' close']

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
35,58,close,gyeonggi,168,20130206,132.0,nursing_hospital,2.681766e+09,1.802009e+08,2.014580e+09,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,51.0,NaN,change
71,107,close,jeonbuk,26,19990805,NaN,traditional_hospital,4.131858e+09,1.436118e+08,3.529097e+09,...,2.658296e+09,2.632717e+09,2.442951e+09,2.557878e+07,0.000000e+00,2.487828e+09,0.0,85.0,74.0,same
93,140,close,gyeongbuk,114,20070420,203.0,hospital,5.423357e+09,0.000000e+00,5.212041e+09,...,2.733619e+09,1.406195e+08,0.000000e+00,2.590000e+09,2.590000e+09,3.752184e+09,0.0,NaN,NaN,NaN
111,164,close,jeonbuk,136,20050321,326.0,nursing_hospital,2.179021e+09,3.122066e+08,1.507567e+09,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,322.0,320.0,same
141,209,close,busan,63,19991112,151.0,hospital,8.845472e+09,0.000000e+00,7.958490e+09,...,1.495243e+10,1.001811e+10,6.250000e+09,4.934328e+09,4.922328e+09,2.500740e+08,0.0,110.0,110.0,same
158,238,close,jeonnam,19,20150316,119.0,hospital,3.581089e+09,5.106416e+08,2.848303e+09,...,5.376396e+09,2.031396e+09,2.986417e+08,3.350000e+09,3.350000e+09,4.221729e+09,0.0,64.0,77.0,change
177,265,close,jeonnam,53,20051111,652.0,nursing_hospital,1.683125e+10,2.372298e+09,1.234589e+10,...,1.430577e+10,1.682877e+09,2.521391e+06,1.262290e+10,7.366342e+09,1.606544e+10,0.0,342.0,278.0,change
193,281,close,gyeonggi,12,20121213,NaN,NaN,3.054388e+08,2.241614e+07,4.674753e+08,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,15.0,15.0,change
212,306,close,jeonnam,33,19990603,66.0,nursing_hospital,2.233031e+10,8.484657e+08,1.849255e+10,...,1.563217e+10,1.288180e+10,0.000000e+00,2.750371e+09,0.000000e+00,1.384958e+10,0.0,NaN,NaN,NaN
214,309,close,seoul,36,20141226,0.0,clinic,9.125255e+08,5.824151e+07,1.012169e+09,...,1.035994e+09,3.075474e+08,0.000000e+00,7.284463e+08,7.284463e+08,1.679837e+09,0.0,16.0,15.0,change
261,366,close,gyeonggi,98,20170120,0.0,traditional_clinic,7.162790e+09,8.758944e+08,5.387362e+09,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,79.0,70.0,same
290,414,close,gyeonggi,169,20140620,200.0,general_hospital,2.375764e+09,8.048178e+08,3.662180e+09,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,114.0,114.0,change
297,423,close,choongnam,159,20140618,NaN,hospital,6.717144e+09,8.200000e+09,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,79.0,79.0,same
298,426,close,gyeongbuk,107,19830705,NaN,hospital,0.000000e+00,0.000000e+00,5.479428e+07,...,6.370097e+09,2.170973e+09,0.000000e+00,4.199124e+09,2.498749e+09,3.259161e+09,0.0,NaN,NaN,NaN
299,427,close,gyeonggi,169,20070101,180.0,nursing_hospital,2.116892e+09,2.681748e+08,3.286245e+09,...,6.392336e+08,6.400000e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,100.0,NaN,NaN

In [5]:
df_complete['ownerChange']=df_complete['ownerChange'].fillna('?')
df_complete['instkind']=df_complete['instkind'].fillna('?')

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_complete['sido_f'] = le.fit_transform(df_complete['sido'])
df_complete['OC_f'] = le.fit_transform(df_complete['OC'])
df_complete['ownerChange_f'] = le.fit_transform(df_complete['ownerChange'])
df_complete['instkind_f'] = le.fit_transform(df_complete['instkind'])

In [8]:
df_complete_emp=df_complete.drop(df_complete[df_complete['revenue1'].isna()==True].index)

In [9]:
df_complete_emp['employee1']=df_complete_emp['employee1'].fillna(np.mean(df_complete_emp['employee1']))

In [10]:
df_complete_emp=df_complete_emp.drop('bedCount',axis=1)
#df_complete_emp['bedCount']=df_complete_emp['bedCount'].fillna(np.mean(df_complete_emp['bedCount'] ),inplace=False )

In [11]:
df_complete_emp2=df_complete_emp[df_complete_emp['employee2'].isna()==False]
df_complete_emp2_test=df_complete_emp[df_complete_emp['employee2'].isna()]

In [12]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

In [13]:
df_complete_emp2.head()

,inst_id,OC,sido,sgg,openDate,instkind,revenue1,salescost1,sga1,salary1,...,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,sido_f,OC_f,ownerChange_f,instkind_f
0,1,open,choongnam,73,20071228,nursing_hospital,4.217530e+09,0.000000e+00,3.961135e+09,2.033835e+09,...,3.900000e+08,2.619290e+09,1.271224e+09,62.0,64.0,same,2,1,2,5
2,4,open,gyeonggi,89,20161228,nursing_hospital,1.004522e+09,5.154837e+08,4.472197e+08,2.964023e+08,...,0.000000e+00,0.000000e+00,0.000000e+00,234.0,1.0,same,8,1,2,5
3,7,open,incheon,141,20000814,general_hospital,7.250734e+10,0.000000e+00,7.067740e+10,3.178605e+10,...,1.510000e+10,1.295427e+10,7.740829e+09,663.0,663.0,same,10,1,2,3
4,9,open,gyeongnam,32,20050901,general_hospital,4.904354e+10,0.000000e+00,4.765605e+10,2.446078e+10,...,1.410803e+10,5.561941e+06,9.025550e+09,206.0,197.0,same,9,1,2,3
5,11,open,gyeongnam,155,20020501,general_hospital,3.358054e+10,9.222997e+09,2.372791e+10,1.665533e+10,...,0.000000e+00,0.000000e+00,5.879004e+09,397.0,390.0,same,9,1,2,3

In [14]:
x = df_complete_emp2.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee2'],axis=1)
y = df_complete_emp2[['employee2']]

In [15]:
dt_model_emp2=linreg.fit(x, y)

In [16]:
x_test = df_complete_emp2_test.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee2'],axis=1)

In [17]:
a=np.round(dt_model_emp2.predict(x_test))

In [18]:
a[10]=130.

In [19]:
df_complete_emp2_test['employee2']=a

C:\Users\DINESHKUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
print(df_complete_emp2.shape)

df_complete_emp2_test.shape

(282, 61)

(11, 61)

In [21]:
df_complete_emp=pd.concat([df_complete_emp2,df_complete_emp2_test])

In [22]:
df_complete_emp['employee1']=df_complete['employee1']

In [23]:
df_complete_emp1=df_complete_emp[df_complete_emp['employee1'].isna()==False]
df_complete_emp1_test=df_complete_emp[df_complete_emp['employee1'].isna()]

In [58]:
x = df_complete_emp1.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee1'],axis=1)
y = df_complete_emp1[['employee1']]

In [25]:
dt_model_emp1=linreg.fit(x, y)

In [26]:
x_test = df_complete_emp1_test.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','employee1'],axis=1)

In [27]:
b=np.round(dt_model_emp1.predict(x_test))

In [28]:
df_complete_emp1_test['employee1']=b

C:\Users\DINESHKUMAR\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
df_complete_emp=pd.concat([df_complete_emp1,df_complete_emp1_test])

In [289]:
x=df_complete_emp.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','ownerChange_f'],axis=1)
y=df_complete_emp[['OC_f']]

In [291]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split,cross_val_score
#base_estimator= RandomForestClassifier(n_estimators=10,min_samples_split=2)
#base_estimator=LogisticRegression()
bg_cl = BaggingClassifier(base_estimator=dt_model,n_estimators=25)
model = bg_cl.fit(x,y)
for model, label in zip([base_estimator,bg_cl],['DT','Bagging']):
    scores = cross_val_score(model,x,y,cv=10,scoring='accuracy')
    print("Accuracy: %0.2f (+/- %0.2f)[%s]"  %(scores.mean(),scores.std(),label))

Accuracy: 0.92 (+/- 0.02)[DT]
Accuracy: 0.95 (+/- 0.02)[Bagging]

In [290]:
from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier(criterion = 'gini',max_depth=3,max_features=30,min_samples_leaf=5)
dt_model.fit(x,y)
dt_model.score(x,y)

0.9488054607508533

In [287]:
from sklearn.ensemble import RandomForestClassifier
dt_model = RandomForestClassifier(n_estimators = 5,min_samples_split=2)
dt_model.fit(x, y)
dt_model.score(x, y)

0.9863481228668942

In [292]:
def get_predictions( inst_id, model ):
    y_pred_df = pd.DataFrame( { 'inst_id': inst_id,
                               "OC": model.predict(x) } )
    return y_pred_df

In [293]:
df_test=pd.read_csv('test.csv')

In [294]:
df_complete=df_test.drop('bedCount',axis=1)

In [295]:
df_complete['ownerChange']=df_complete['ownerChange'].fillna('?')
df_complete['instkind']=df_complete['instkind'].fillna('?')
df_complete['sido_f'] = le.fit_transform(df_complete['sido'])
df_complete['OC_f'] = le.fit_transform(df_complete['OC'])
df_complete['ownerChange_f'] = le.fit_transform(df_complete['ownerChange'])
df_complete['instkind_f'] = le.fit_transform(df_complete['instkind'])
df_complete=df_complete.drop(df_complete[df_complete['revenue1'].isna()==True].index)

In [296]:
df_complete['employee1']=df_complete['employee1'].fillna(np.mean(df_complete['employee1'])) 
df_complete['employee2']=df_complete['employee2'].fillna(np.mean(df_complete['employee2']))

In [297]:
x=df_complete.drop(['openDate','inst_id','OC','sido','ownerChange','instkind','OC_f','ownerChange_f'],axis=1)
y=df_complete[['OC_f']]

In [298]:
x.shape

(125, 53)

In [299]:
y_pred_df = get_predictions( df_complete['inst_id'], dt_model)

In [300]:
y_pred_df.head()

   inst_id  OC
0        2   1
1        5   1
2        6   1
3        8   1
4       10   1

In [281]:
y_pred_df.to_csv('pred.csv')

In [301]:
y_pred_df['OC'].value_counts()

1    121
0      4
Name: OC, dtype: int64

In [302]:
y_pred_df[y_pred_df['OC']==0]

     inst_id  OC
13        30   0
88       293   0
124      429   0
126      431   0

In [233]:
y_pred_df[y_pred_df['OC']==0]

     inst_id  OC
20        48   0
52       165   0
58       185   0
120      413   0
122      424   0

In [ ]:
6
64
310
413
424
430